@model CRM.ViewModels.MessageViewModel



<h2>Message Re: @Model.CustomerName</h2>

@using (Html.BeginForm("Edit", "Messages"))
{

    @Html.HiddenFor(m => m.CustomerName)
    @Html.HiddenFor(m => m.CustomerId)
    @Html.HiddenFor(m => m.EditId)
    <div class="form-group">
        @Html.LabelFor(m => m.Body)
        @Html.TextAreaFor(m => m.Body, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SelectedEmails)
        @Html.ListBoxFor(m => m.SelectedEmails, Model.Users)
    </div>

    <button type="submit" class="btn btn-primary submit-and-cancel">Save</button>
    <span class="btn btn-danger submit-and-cancel"> <a href="/Customer/Detail/@Model.CustomerId">Cancel</a></span>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")


}


