<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Html.Action("GetStyle", "Style")
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'10389228-3c4e-44fe-91b7-93de363084b1'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img id="logo-black" src="~/Content/img/feather_black.png" />
                <img id="logo" src="~/Content/img/feather.png" />
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    @Html.ActionLink("Fly Client", "Index", "Customer", new { area = "" }, new { @class = "navbar-brand", id = "logo-font" })

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="template" id="notifications-template">
        <ul>
            <%
                _.each(notifications, function(notification){%>
                    <li><%= notification.Body %></li>
                    
                <%})
                %><li id="mark-as-read">Mark Notifications as Read</li><%

            %>

        </ul>
    </script>
    <script>


        $(document).ready(function () {

            $.getJSON("/api/UserNotificationApi", function (notifications) {
                if (notifications.length == 0) {
                    return;
                }

                $(".js-notification-count").text(notifications.length).removeClass("hide").addClass("animated bounce");

                //NOTIFICATIONS POPOVER
                $(".notifications").popover({
                    html: true,
                    title: "Notifications",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());

                        return compiled({ notifications: notifications });

                    },
                    placement: "bottom"

                });

            });


            //HIDE NOTIFICATIONS POPOVER
            $('body').on('click', function (e) {
                $('[data-original-title]').each(function () {
                    //the 'is' for buttons that trigger popups
                    //the 'has' for icons within a button that triggers a popup
                    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                        $(this).popover('hide');

                    }
                });
            });


            //Uncaught ReferenceError: e is not defined--not sure why the below does not work
            //$('body').on('click', hideNotifications (e));



            $(document.body).on("click", "#mark-as-read", function () {
                $.ajax({
                    url: "/api/UserNotificationApi/DeleteAll",
                    method: "DELETE"
                })
                 .done(function () {
                     //alert("Deleted!");
                     $(".js-notification-count").addClass("hide");
                     $(".popover-content ul li").fadeOut(function () {
                         $(".popover").hide();
                     });
                 }).fail(function () {
                     alert("Something Went Wrong!!!");
                 });
            })


            //replace logo img with black one when hovering
            $("#logo-font").hover(function () {
                $("#logo-black").toggle();
                $("#logo").toggle();
            });

            //provide dt picker on create/edit forms
            $("#datetimepicker").datetimepicker({
                sideBySide: true
            });




        });


        //$("#datetimepicker").datetimepicker();


        //CHAT MESSAGE FEATURE BETA HERE

        //var chatPartner = $("#js-chat-partner").value;


        //continually get 
        //anna: 7aa736a7-6776-41b0-b14a-3ac656b616d8
        //cran: a7058f32-5435-46f1-a777-90e89369dd67

        //http://localhost:49166/
        function getChatMessages() {
            var chatPartner = $("#js-chat-partner").val();
            $.ajax({
                url: "/api/ChatMessagesApi/GetMessages/" + chatPartner,
                cache: false,
                success: function (html) {
                    if (html.length == 0) {
                        return;
                    }
                    console.log(html);
                    for (var i in html) {
                        $("#js-messages-holder").append("<div>" + "Other person: " + html[i]["Body"] + "</div>");
                    }

                    

                }
            });
        }

        $(document.body).on("click", "#js-begin-chat", function () {

            setInterval(getChatMessages, 1000);
        })

        //setInterval(getChatMessages, 1000);

        //post message

        $(document.body).on("click", "#js-send-chat-message", function () {
            var message = $("#js-chat-input").val();
            var chatPartner = $("#js-chat-partner").val();
            console.log("message: ", message, "partner: ", chatPartner);
            $.ajax({
                type: "POST",
                url: "/api/ChatMessagesApi/PostMessage",
                data: { ReceiverId: chatPartner, Body: message }
                
            })
             .done(function () {
                 $("#js-messages-holder").append("<div>" + "You: " + message + "</div>");

                 alert("sent!");
             }).fail(function () {
                 alert("Something Went Wrong!!!");
             });

            getChatMessages();


        })


    </script>
</body>
</html>


