
@model CRM.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    @*<div class="form-group">
        @Html.LabelFor(m => m.SelectedUsers)
        @Html.ListBoxFor(m => m.SelectedUsers, Model.Users)
        @Html.ValidationMessageFor(m => m.SelectedUsers)
    </div>*@
    <label>Select Team Members</label>
    for (var i = 0; i < Model.UserCheckBoxes.Count; i++) 
    {
        <div id="create-form-input-checks">
            @Html.HiddenFor(m => m.UserCheckBoxes[i].Name)
        
            @Html.CheckBoxFor(m => m.UserCheckBoxes[i].Checked, new { @class = "form-control" })
            @Html.LabelFor(m => m.UserCheckBoxes[i].Name, Model.UserCheckBoxes[i].Name)
        </div>
    }


    <button type="submit" class="btn btn-primary">Save</button>
}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")


}






@**@

    @*foreach (var user in Model.Users)
    {
<div class="form-group">
    <label>@user.Value</label>
    @Html.HiddenFor(m => user.Value)
    @Html.HiddenFor(m => user.Text)
    @Html.CheckBoxFor(m => user.Value)
</div>
    }*@
