@model CRM.ViewModels.CustomerDetailViewModel


<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-12" id="js-customer-name-and-tasks">

            <div class="row">
                <div class="col-md-6 col-xs-12 expand">

                    <div>
                        <h3 class="name-header">@Model.Name</h3>

                        <div>Phone: @Model.Phone</div>
                        <div>Email: @Model.Email</div>

                    </div>

                </div>
                <div class="col-md-6 col-xs-12 expand">

                    @if (Model.Team.Count == 0)
                    {
                        @Html.ActionLink("Add Team Members", "AddTeam", "Customer", new { id = Model.Id }, new { @class = "btn btn-default", id = "team-button" })
                    }
                    else
                    {
                        <div>
                            <div id="button-and-team-header">
                                <h2 class="team-header">Team</h2>
                                @Html.ActionLink("Add Team Members", "AddTeam", "Customer", new { id = Model.Id }, new { @class = "btn btn-info", id = "team-button" })
                            </div>
                            <div>
                                @foreach (var member in Model.Team)
                                {
                                    <div class="btn btn-default team-member-button">
                                        @member.Name
                                        @if (Request.IsAuthenticated && User.IsInRole("Manager"))
                                        {
                                            <span class="glyphicon glyphicon-remove js-glyphicon-remove-member" 
                                            js-data-id="@member.Id" js-cust-id="@Model.Id" title="Remove User From This Customer Team"></span>
                                        }
                                       

                                    </div>
                                }
                            </div>

                        </div>
                    }



                </div>

            </div>
            <hr class="divider-hr" />

            <div id="js-task-table">
                <table class="table table-striped table-hover ">
                    <col style="width:15%">
                    <col style="width:40%">
                    <col style="width:18%">
                    <col style="width:4%">
                    <col style="width:15%">
                    <thead>
                        <tr>
                            <th colspan="4" class="table-head-title">Tasks</th>

                            @*<th></th>*@

                            <th>@Html.ActionLink("Add Task", "Create", "Tasks", new { id = Model.Id }, new { @class = "btn btn-info" })</th>
                        </tr>
                        @*<tr>
                                <th>Body</th>
                                <th>Author</th>

                            </tr>*@
                    </thead>
                    <tbody>
                        @foreach (var task in Model.Tasks)
                        {
                            <tr class="@(task.IsComplete ? "deactivated" : "")">

                                @if (task.IsComplete == true)
                                {
                                    <td class="task-cell-parent completed green">
                                        <div>COMPLETED</div>
                                    </td>
                                }
                                else
                                {
                                    <td class="task-cell-parent completed">
                                        <div><strong>Deadline</strong></div>
                                        <div>@task.Deadline.ToString("d")</div>
                                        @if (task.Due() == CRM.Models.TimeLeft.OverDue)
                                        {
                                            <div class="@task.DueStyle()">@task.DaysLate() @(task.DaysLate() > 1 ? "days" : "day") late</div>
                                        }
                                    </td>
                                }

                                <td class="task-cell-parent">
                                    @task.Body
                                </td>

                                <td>
                                    <div><strong>Assigned By</strong></div><div>
                                        @task.AssignedBy.Name
                                        <span class="glyphicon glyphicon-comment js-begin-chat-table" title="chat with this user" js-data-id="@task.AssignedBy.Id" js-data-name="@task.AssignedBy.Name"></span>
                                    </div>
                                    <div class="assigned-to-task"><strong>Assigned To</strong></div><div>
                                        @task.AssignedTo.Name
                                        <span class="glyphicon glyphicon-comment js-begin-chat-table" title="chat with this user" js-data-id="@task.AssignedTo.Id" js-data-name="@task.AssignedTo.Name"></span>
                                    </div>

                                </td>
                                <td></td>

                                <td class="glyph-cell">

                                    @if (Model.CurrentUserId == task.AssignedById)
                                    {
                                        <a href="/Tasks/Edit/@task.Id"><span class="glyphicon glyphicon-pencil" title="Edit Task"></span></a>
                                        <span class="glyphicon glyphicon-trash js-delete-task" js-data-id="@task.Id" title="Delete Task"></span>
                                        <span class="glyphicon glyphicon-ok js-mark-task-complete" js-data-id="@task.Id" title="Mark Task Complete"></span>
                                    }



                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @if (Model.Tasks.Count == 0)
            {
                <h4>There are no tasks assigned at this time</h4>
            }






        </div>

        <div class="col-md-4 col-xs-12" id="js-messages-col">
            <table class="table table-striped table-hover ">
                <col style="width:65%">
                <col style="width:15%">
                <col style="width:20%">
                <thead>
                    <tr>
                        <th class="table-head-title">Messages<span id="js-enlarge-messages" class="glyphicon glyphicon-resize-horizontal"></span><span id="js-minimize-messages" class="glyphicon glyphicon-resize-horizontal"></span></th>
                        <th>@Html.ActionLink("Add Message!", "Create", "Messages", new { id = Model.Id }, new { @class = "btn btn-info" })</th>
                        <th class="glyph-cell"></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var message in Model.Messages)
                    {
                        <tr>

                            <td>@message.Body</td>
                            <td>@message.Author.Name</td>
                            <td class="glyph-cell">

                                @if (Model.CurrentUserId == message.AuthorId)
                                {
                                    @*<a href="/Messages/Edit/@message.Id"> <span class="glyphicon glyphicon-pencil"></span></a>*@
                                    <span class="glyphicon glyphicon-trash js-delete-message message-delete" js-data-id="@message.Id" title="Delete Message"></span>
                                }



                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.Messages.Count == 0)
            {
                <h4>There are no messages at this time</h4>
            }


        </div>
    </div>
    <hr class="divider-hr-expanded" />
    <div class="row col-md-12" id="js-expanded-tasks">


    </div>
</div>

@section scripts {
    <script>

        //EXPAND AND CHANGE MESSAGES VIEW
        $("#js-enlarge-messages").on("click", function () {
            $(".divider-hr").toggle();
            $(".divider-hr-expanded").toggle();
            $("#js-minimize-messages").toggle();
            $("#js-enlarge-messages").toggle();
            //expand messages and tasks
            $("#js-messages-col").addClass("col-md-8").removeClass("col-md-4");
            $("#js-customer-name-and-tasks").removeClass("col-md-8").addClass("col-md-4");

            var taskTableContents = $("#js-task-table").html();
            $("#js-task-table").hide();

            $("#js-expanded-tasks").append(taskTableContents);
            $(".expand").removeClass("col-md-6").addClass("col-md-12");

        });


        //RETURN MESSAGES VIEW TO NORMAL OR MINIMIZE
        $("#js-minimize-messages").on("click", function () {
            $(".divider-hr").toggle();
            $(".divider-hr-expanded").toggle();
            $("#js-minimize-messages").toggle();
            $("#js-enlarge-messages").toggle();
            //minimize messages and tasks
            $("#js-messages-col").addClass("col-md-4").removeClass("col-md-8");
            $("#js-customer-name-and-tasks").removeClass("col-md-4").addClass("col-md-8");

            //var taskTableContents = $("#js-task-table").html();
            $("#js-task-table").show();

            $("#js-expanded-tasks").empty();
            $(".expand").removeClass("col-md-12").addClass("col-md-6");
        })




    </script>

}

