@model CRM.ViewModels.CustomerViewModel


<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Customer"))
{

    @Html.HiddenFor(m => m.EditId)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Phone)
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Phone)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <label>Select Team Members</label>
    for (var i = 0; i < Model.UserCheckBoxes.Count; i++)
    {
        <div id="create-form-input-checks">
            @Html.HiddenFor(m => m.UserCheckBoxes[i].Name)

            @Html.CheckBoxFor(m => m.UserCheckBoxes[i].Checked, new { @class = "form-control" })
            @Html.LabelFor(m => m.UserCheckBoxes[i].Name, Model.UserCheckBoxes[i].Name)
        </div>
    }



    <button type="submit" class="btn btn-primary">Save</button>
}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")


}




