@model List<CRM.Models.Task>


@*<h2>Tasks for @ViewBag.Username</h2>



<ul>
    @foreach (var task in Model)
    {
        <li>Customer: @task.Customer.Name</li>
        <li>Assigned By: @task.AssignedBy.Name</li>
        <li>Task: @task.Body</li>
        <li>Deadline: @task.Deadline</li>
        <li>-----------------------------</li>
    }


</ul>*@



<div id="js-task-table">
    <table class="table table-striped table-hover ">
        <col style="width:15%">
        <col style="width:50%">
        <col style="width:23%">
        <col style="width:12%">
        <thead>
            <tr>
                <th colspan="4" class="table-head-title">Tasks for @ViewBag.Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>

                    <td class="task-cell-parent">
                        <div><strong>Deadline</strong></div>
                        <div>@task.Deadline.ToString("d")</div>
                    </td>

                    <td class="task-cell-parent">
                        @task.Body
                    </td>

                    <td class="user-tasks-cell">
                        <div><strong>Assigned By</strong></div><div> @task.AssignedBy.Name</div>
                        @*<div class="assigned-to-task"><strong>Assigned To</strong></div><div> @task.AssignedTo.Name</div>*@
                    </td>

                    <td class="glyph-cell user-tasks-cell" >

                        @*@if (Model.CurrentUserId == task.AssignedById)
                        {*@
                            <a href="/Tasks/Edit/@task.Id"><span class="glyphicon glyphicon-pencil" title="Edit Task"></span></a>
                                        <span class="glyphicon glyphicon-trash js-delete-task" js-data-id="@task.Id" title="Delete Task"></span>
                            @*}*@



                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>