@model List<CRM.Models.Task>


<h2>Tasks for @ViewBag.Username</h2>

<ul>
    @foreach (var task in Model)
    {
        <li>Customer: @task.Customer.Name</li>
        <li>Title: @task.Title</li>
        <li>Assigned By: @task.AssignedBy.Name</li>
        <li>Task: @task.Body</li>
        <li>Deadline: @task.Deadline</li>
        <li>-----------------------------</li>
    }


</ul>