@model List<CRM.Models.Task>


<div id="js-task-table">
    <table class="table table-striped table-hover task-table-desktop">
        <col style="width:15%">
        <col style="width:50%">
        <col style="width:23%">
        <col style="width:12%">
        <thead>
            <tr>
                <th colspan="4" class="table-head-title">Tasks for @ViewBag.Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                <tr>

                    <td class="task-cell-parent">
                        <div><strong>Deadline</strong></div>
                        <div>@task.Deadline.ToString("d")</div>
                    </td>

                    <td class="task-cell-parent">
                        @task.Body
                    </td>

                    <td class="user-tasks-cell">
                        <div><strong>Assigned By</strong></div><div> @task.AssignedBy.Name</div>
                        @*<div class="assigned-to-task"><strong>Assigned To</strong></div><div> @task.AssignedTo.Name</div>*@
                    </td>

                    <td class="glyph-cell user-tasks-cell" >

                        @*@if (Model.CurrentUserId == task.AssignedById)
                        {*@
                            <a href="/Tasks/Edit/@task.Id"><span class="glyphicon glyphicon-pencil" title="Edit Task"></span></a>
                                        <span class="glyphicon glyphicon-trash js-delete-task" js-data-id="@task.Id" title="Delete Task"></span>
                            @*}*@



                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<table class="table-striped table-hover mobile-task-table">
    <tbody>
        @foreach (var task in Model)
        {
            <tr class="@(task.IsComplete ? "deactivated" : "") mobile-task-row-title">
                <td>Task #@task.Id</td>
            </tr>


            if (task.IsComplete == true)
            {
                <tr>
                    <td class="task-cell-parent completed green">
                        <div>COMPLETED</div>
                    </td>
                </tr>
            }
            else
            {

                <tr class="@(task.IsComplete ? "deactivated" : "")">
                    <td><strong>Deadline</strong></td>
                    <td>@task.Deadline</td>
                </tr>

                if (task.DaysLate() > 1)
                {
                    <tr class="@(task.IsComplete ? "deactivated" : "")">
                        <td><strong>Days Late</strong></td>
                        <td class="@task.DueStyle()">@task.DaysLate()</td>
                    </tr>
                }

            }


            <tr class="@(task.IsComplete ? "deactivated" : "")">
                <td><strong>Description</strong></td>
                <td>@task.Body</td>
            </tr>


            <tr class="@(task.IsComplete ? "deactivated" : "")">
                <td><strong>Assigned By</strong></td>
                <td>
                    @task.AssignedBy.Name
                  
                    <span class="glyphicon glyphicon-comment js-begin-chat-table" title="chat with this user" js-data-id="@task.AssignedBy.Id" js-data-name="@task.AssignedBy.Name"></span>
                </td>
            </tr>
            @*<tr class="@(task.IsComplete ? "deactivated" : "")">
                <td><strong>Assigned To</strong></td>
                <td>
                    @task.AssignedTo.Name
                    <span class="glyphicon glyphicon-comment js-begin-chat-table" title="chat with this user" js-data-id="@task.AssignedTo.Id" js-data-name="@task.AssignedTo.Name"></span>
                </td>
            </tr>*@

            
            <tr class="@(task.IsComplete ? "deactivated" : "")">
                <td>
                    <a href="/Tasks/Edit/@task.Id"><span class="glyphicon glyphicon-pencil" title="Edit Task"></span></a>
                    <span class="glyphicon glyphicon-trash js-delete-task" js-data-id="@task.Id" title="Delete Task"></span>
                    <span class="glyphicon glyphicon-ok js-mark-task-complete" js-data-id="@task.Id" title="Mark Task Complete"></span>

                </td>

            </tr>

            

        }


    </tbody>

</table>